/* IMPORTS */
@import url("home.css");

/* MAIN CONTAINER */
.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80rem;
    padding: 4.8rem;
    background-color: var(--red);
    box-shadow: inset 0 0 0 0.4rem var(--white);
    transform: translate(-50%, -50%);
}

.section-cart h2 {
    font-size: 3.3rem;
}

.div-cart-content-container {
    position: relative;
    top: 0;
    animation-name: content-appear;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes content-appear {
    from {
        top: -48rem;
    }
    to {
        top: 0;
    }
}

.div-cart-content-container h3 {
    font-size: 2.4rem;
}

.cart-content-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.cart-content-list-item {
    display: inherit;
    align-items: flex-end;
    justify-content: space-between;
    width: 50%;
}

.cart-content-list-item p {
    font-size: 1.8rem;
}

.cart-content-list-item span {
    font-size: 2rem;
}

.shoe-image {
    position: absolute;
    bottom: -4.8rem;
    right: -4.8rem;
    width: 80%;
    animation-name: shoe-appear;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    transform: rotate(-8deg);
    z-index: 4;
}

@keyframes shoe-appear {
    from {
        bottom: -64rem;
        transform: rotate(-360deg);
    }
    to {
        bottom: -4.8rem;
        transform: rotate(-8deg);
    }
}

#confirm_order {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 200px;
    padding: 15px 35px;
    font-size: 14pt;
    color: var(--red);
    background-color: var(--white);
    border-style: none;
    border-radius: 25px;
    animation-name: confirm_appear;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    cursor: pointer;
    transition: all 0.75s;
}

@keyframes confirm_appear {
    from {
        left: -750px;
        transform: rotate(-360deg);
    }
    to {
        left: 50px;
    }
}

#confirm_order:hover {
    color: var(--white);
    background-color: var(--red);
    box-shadow: 0px 0px 35px var(--white);
    transform: translateY(5px);
}

/* POP_UP WINDOW STYLE */
.confirmation_window {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 75px;
    text-align: center;
    background-color: var(--black);
    box-shadow: 0px 0px 50px var(--black);
    border-radius: 25px;
    transition: all 0.5s;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 4;
}

.confirmation_window h2 {
    font-size: 24pt;
}

.confirmation_window p {
    margin: 50px auto;
    line-height: 30px;
}

#ending_msg {
    display: block;
    margin-top: 10px;
    font-size: 16pt;
}

#home_btn {
    padding: 10px 25px;
    font-size: 14pt;
    background-color: var(--red);
    border-radius: 25px;
    transition: all 0.5s;
}

#home_btn:hover {
    box-shadow: 0px 0px 25px var(--white);
    transform: translateY(5px);
}
