/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

/* VARIABLES */
:root {
    --white: #fff;
    --black: #000;
    --transparent-white: rgba(255, 255, 255, 0.8);
    --more-transparent-red: rgba(255, 255, 255, 0.6);
    --red: #ba4242;
    --transparent-red: rgba(186, 66, 66, 0.8);
    --less-transparent-red: rgba(186, 66, 66, 0.9);
}

/* GENERAL SELECTORS */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Urbanist";
    color: var(--white);
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}

body::-webkit-scrollbar {
    display: none;
}

/* PAGE NAV CONTAINER */
.div-page-nav-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.2rem 6.4rem;
    background-color: var(--transparent-white);
    z-index: 2;
}

.div-page-nav-container img {
    height: 8rem;
}

.fixed-nav-container {
    position: fixed;
    z-index: 4;
}

/* NAVIGATION LINKS LIST */
.page-nav-links-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    list-style: none;
}

.page-nav-links-list-item a:link,
.page-nav-links-list-item a:visited {
    display: inline-block;
    font-size: 2rem;
    color: var(--black);
    transition: all 0.5s;
}

.page-nav-links-list-item:last-child a:link,
.page-nav-links-list-item:last-child a:visited {
    padding: 0.8rem 3.2rem;
    color: var(--white);
    background-color: var(--less-transparent-red);
    box-shadow: inset 0 0 0 0.2rem var(--white);
    border-radius: 0.4rem;
}

.page-nav-links-list-item a:hover,
.page-nav-links-list-item a:active {
    transform: translateY(0.2rem);
    opacity: 0.4;
}

/* VIDEO STYLE */
.div-hero-video-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.div-hero-video-container video {
    position: relative;
    width: inherit;
    height: inherit;
    z-index: 0;
}

/* BLUR OVERLAY */
.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(0.2rem);
    z-index: 1;
}

/* MINIMIZED NAVIGATION  */
.minimized-nav-container {
    padding: 0.8rem 4.8rem;
}

.minimized-nav-container img {
    height: 6.4rem;
}

.minimized-nav-container a:link,
.minimized-nav-container a:visited {
    font-size: 1.8rem;
}

.minimized-nav-container .page-nav-links-list-item:last-child a:link,
.minimized-nav-container .page-nav-links-list-item:last-child a:visited {
    padding: 0.8rem 2.4rem;
}

/* SECTIONS */
.section {
    position: relative;
    transition: all 2s;
}

.fade-in {
    transform: translateY(200px);
    opacity: 0;
}

/* BACKGROUND IMAGE SECTION */
.section-background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0.75;
    z-index: 0;
}

.text-image-description {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2rem 6.4rem;
    font-size: 2.4rem;
    background-color: var(--black);
    box-shadow: 0 0.4rem 1.2rem var(--black);
    z-index: 3;
}

.span-image-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    background-color: var(--black);
    box-shadow: 0 -0.4rem 1.2rem var(--black);
    z-index: 3;
}

.div-background-image {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

.background-image-1 {
    background-image: url("../media/images/mj-last-shot.png");
}

.background-image-2 {
    background-image: url("../media/images/mj-backward.png");
}

/* INFO SECTION */
.section-info {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 9.6rem 0;
}

.section-header {
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
}

.section-header h1 {
    font-size: 4rem;
    text-align: center;
}

.div-gallery-container {
    display: inherit;
    flex-direction: inherit;
    gap: 8rem;
}

.div-flex-container {
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
}

.div-flex-container img {
    width: 48%;
    transition: all 0.5s;
}

.image-blur {
    filter: blur(0.8rem);
}

.left-image-shadow {
    box-shadow: -1.6rem -1.6rem 0 var(--white);
}

.right-image-shadow {
    box-shadow: 1.6rem -1.6rem 0 var(--white);
}

/* FLEX CONTAINER INFO DIV */
.div-flex-container-info {
    display: inherit;
    flex-direction: column;
    gap: 1.6rem;
    width: 48rem;
}

.div-flex-container-info span {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    font-style: italic;
}

.div-flex-container-info p {
    font-size: 2rem;
}

/* SELECT BOX SECTION */
.div-select-container {
    text-align: center;
}

.btn-get-started {
    all: unset;
    display: inline-block;
    width: 32rem;
    padding: 1.2rem 0;
    font-size: 2.4rem;
    text-align: center;
    background-color: var(--red);
    box-shadow: inset 0 0 0 0.2rem var(--white);
    border-radius: 0.4rem;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0.5;
}

.btn-get-started:hover {
    transform: translateY(0.4rem);
    opacity: 1;
}

.text-question-confirmation {
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
}

.new-select-box {
    display: block;
    appearance: unset;
    outline: none;
    width: 24rem;
    margin: 0 auto 6.4rem;
    padding: 1.2rem 0;
    font-size: 2.4rem;
    text-align: center;
    background-color: var(--black);
    border: 3px solid var(--white);
    transition: all 0.5s;
    cursor: pointer;
}

.new-select-box:hover {
    color: var(--black);
    background-color: var(--white);
}

.new-select-box option {
    color: var(--black);
    background-color: var(--white);
}

.new-select-box option:checked {
    color: var(--white);
    background-color: var(--black);
}

.hide-element {
    display: none !important;
}

.btn-confirm-selection {
    all: unset;
    display: block;
    width: 24rem;
    margin: 0 auto;
    padding: 1.2rem 0;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--red);
    box-shadow: inset 0 0 0 0.2rem var(--white);
    border-radius: 0.4rem;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0.5;
}

.btn-confirm-selection:hover {
    transform: translateY(0.4rem);
    opacity: 1;
}

/* TO_TOP_BTN STYLE */
.div-btn-container {
    position: fixed;
    right: 2.4rem;
    bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    aspect-ratio: 1 / 1;
    background-color: var(--red);
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 3;
}

.div-btn-container:hover {
    opacity: 0.5;
}

.div-btn-container a:link,
.div-btn-container a:visited {
    display: inherit;
    align-items: inherit;
    justify-content: center;
    width: inherit;
    font-size: 2.4rem;
}

.y-appear {
    transform: translateY(200%);
    opacity: 0;
}

/* PAGE FOOTER */
.page-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
    height: 48rem;
    text-align: center;
    background-color: var(--white);
    z-index: 2;
}

.footer-links-list {
    display: inherit;
    align-items: inherit;
    gap: 4.8rem;
    list-style: none;
}

.footer-links-list-item a:link,
.footer-links-list-item a:visited {
    font-size: 3rem;
    color: var(--black);
    transition: color 0.5s;
}

.footer-links-list-item a:hover,
.footer-links-list-item a:active {
    color: var(--red);
}

.page-footer img {
    display: inline-block;
    height: 18rem;
}

.text-copyright {
    font-size: 2.4rem;
    color: var(--black);
}
