/* TABLET MEDIA QUERY */
@media screen and (min-width: 950px) and (max-width: 1250px) {
    :root {
        --transparentWhite: rgba(255, 255, 255, 0.9);
    }

    nav {
        padding: 10px 50px;
    }

    #nav_logo {
        width: 175px;
    }

    #nav_links_div a {
        font-size: 14pt;
    }

    .desc_div {
        padding: 15px 45px;
    }

    .desc_div h1 {
        font-size: 24pt;
    }

    .img_tag {
        font-size: 10pt;
        padding: 10px 30px;
    }

    #photo_section,
    #select_section {
        margin: 125px 0px;
    }

    #photo_section h1 {
        width: 80%;
        margin: auto;
    }

    #grid_layout {
        margin-top: 100px;
    }

    .column {
        flex-direction: column;
    }

    .column_reverse {
        flex-direction: column-reverse;
    }

    .flex_img {
        width: 75%;
        box-shadow: unset;
        border: 15px solid var(--white);
    }

    .info_div {
        width: 500px;
        margin-top: 50px;
        text-align: center;
    }

    .info_heading {
        margin-bottom: 25px;
        font-size: 20pt;
    }

    #select_section h1 {
        font-size: 40pt;
    }

    .start_select {
        margin: 35px auto;
        padding: 15px 60px;
        font-size: 18pt;
    }

    .question {
        margin-top: 60px;
        font-size: 24pt;
    }

    select {
        width: 225px;
        margin: 35px auto 40px auto;
        font-size: 18pt;
    }

    .btn_confirm {
        width: 175px;
        margin: 30px auto auto auto;
        padding: 12.5px 0px;
        font-size: 16pt;
    }

    .div_to_top {
        right: 20px;
        bottom: 20px;
        width: 45px;
        height: 45px;
        box-shadow: 0px 0px 25px var(--black);
    }

    #btn_to_top {
        font-size: 20pt;
    }

    footer {
        height: 450px;
    }

    #footer_links_div a {
        font-size: 24pt;
    }

    footer img {
        width: 175px;
    }

    footer p {
        font-size: 16pt;
    }
}

/* TABLET MEDIA QUERY */
@media screen and (min-width: 650px) and (max-width: 949px) {
    :root {
        --transparentWhite: rgba(255, 255, 255, 0.9);
    }

    nav {
        padding: 10px 25px;
    }

    #nav_logo {
        width: 150px;
    }

    #nav_links_div {
        width: 380px;
    }

    #nav_links_div a {
        font-size: 14pt;
    }

    #nav_links_div a:nth-child(5) {
        padding: 7.5px 25px;
    }

    .desc_div {
        padding: 15px 35px;
    }

    .desc_div h1 {
        font-size: 20pt;
    }

    .img_tag {
        font-size: 10pt;
        padding: 15px 30px;
    }

    #photo_section,
    #select_section {
        margin: 100px 0px;
    }

    #photo_section h1 {
        width: 80%;
        margin: auto;
        font-size: 36pt;
    }

    #grid_layout {
        margin-top: 75px;
    }

    .column {
        flex-direction: column;
    }

    .column_reverse {
        flex-direction: column-reverse;
    }

    .flex_img {
        width: 80%;
        box-shadow: unset;
        border: 10px solid var(--white);
    }

    .info_div {
        width: 450px;
        margin-top: 45px;
        text-align: center;
    }

    .info_heading {
        margin-bottom: 35px;
        font-size: 18pt;
    }

    .info_div p {
        font-size: 14pt;
    }

    #select_section h1 {
        width: 80%;
        margin: auto;
        font-size: 36pt;
    }

    .start_select {
        margin: 35px auto;
        padding: 12.5px 50px;
        font-size: 18pt;
    }

    .question {
        margin-top: 50px;
        font-size: 20pt;
    }

    select {
        width: 200px;
        margin: 30px auto 40px auto;
        font-size: 16pt;
    }

    .btn_confirm {
        width: 160px;
        margin: 30px auto auto auto;
        padding: 12.5px 0px;
        font-size: 14pt;
    }

    .div_to_top {
        right: 20px;
        bottom: 20px;
        width: 45px;
        height: 45px;
        box-shadow: 0px 0px 25px var(--black);
    }

    #btn_to_top {
        font-size: 20pt;
    }

    footer {
        height: 450px;
    }

    #footer_links_div a {
        margin: auto 30px;
        font-size: 24pt;
    }

    footer img {
        width: 175px;
    }

    footer p {
        font-size: 16pt;
    }
}

/* PHONE MEDIA QUERY */
@media screen and (min-width: 500px) and (max-width: 649px) {
    :root {
        --transparentWhite: rgba(255, 255, 255, 0.9);
    }

    nav {
        padding: 10px 25px;
    }

    #nav_logo {
        width: 175px;
    }

    #nav_links_div {
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: var(--red);
        z-index: 5;
    }

    .hide_nav_links_div {
        opacity: 0;
        transform: translateX(100%);
    }

    #nav_links_div a {
        margin: 25px 0px;
        font-size: 24pt;
    }

    #nav_links_div a:nth-child(5) {
        color: var(--black);
        background-color: var(--white);
    }

    #menu_bar,
    #close_btn {
        display: block;
    }

    .desc_div {
        padding: 10px 30px;
    }

    .desc_div h1 {
        font-size: 18pt;
    }

    .img_tag {
        font-size: 8pt;
        padding: 10px 25px;
    }

    #photo_section,
    #select_section {
        margin: 75px 0px;
    }

    #photo_section h1 {
        width: 80%;
        margin: auto;
        font-size: 30pt;
    }

    #grid_layout {
        margin-top: 50px;
    }

    .column {
        flex-direction: column;
    }

    .column_reverse {
        flex-direction: column-reverse;
    }

    .flex_img {
        width: 80%;
        box-shadow: unset;
        border: 5px solid var(--white);
    }

    .info_div {
        width: 400px;
        margin-top: 40px;
        text-align: center;
    }

    .info_heading {
        margin-bottom: 35px;
        font-size: 18pt;
    }

    .info_div p {
        font-size: 14pt;
    }

    #select_section h1 {
        width: 80%;
        margin: auto;
        font-size: 32pt;
    }

    .start_select {
        margin: 35px auto;
        padding: 12.5px 50px;
        font-size: 18pt;
    }

    .question {
        margin-top: 60px;
        font-size: 18pt;
    }

    select {
        width: 175px;
        margin: 25px auto 40px auto;
        font-size: 14pt;
    }

    .btn_confirm {
        width: 150px;
        margin: 25px auto auto auto;
        padding: 12.5px 0px;
        font-size: 12pt;
    }

    .div_to_top {
        right: 15px;
        bottom: 15px;
        width: 40px;
        height: 40px;
        box-shadow: 0px 0px 20px var(--black);
    }

    #btn_to_top {
        font-size: 18pt;
    }

    footer {
        height: 425px;
    }

    #footer_links_div a {
        margin: auto 20px;
        font-size: 20pt;
    }

    footer img {
        width: 150px;
    }

    footer p {
        font-size: 14pt;
    }
}

/* PHONE MEDIA QUERY */
@media screen and (min-width: 350px) and (max-width: 499px) {
    :root {
        --transparentWhite: rgba(255, 255, 255, 0.9);
    }

    nav {
        padding: 10px 20px;
    }

    #nav_logo {
        width: 125px;
    }

    #nav_links_div {
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: var(--red);
        z-index: 5;
    }

    .hide_nav_links_div {
        opacity: 0;
        transform: translateX(100%);
    }

    #nav_links_div a {
        margin: 25px 0px;
        font-size: 18pt;
    }

    #nav_links_div a:nth-child(5) {
        padding: 7.5px 35px;
        color: var(--black);
        background-color: var(--white);
    }

    #menu_bar,
    #close_btn {
        display: block;
    }

    .desc_div {
        padding: 10px 20px;
    }

    .desc_div h1 {
        font-size: 16pt;
    }

    .img_tag {
        font-size: 8pt;
        padding: 10px 15px;
    }

    #photo_section,
    #select_section {
        margin: 75px 0px;
    }

    #photo_section h1 {
        width: 80%;
        margin: auto;
        font-size: 24pt;
    }

    #grid_layout {
        gap: 80px;
        margin-top: 40px;
    }

    .column {
        flex-direction: column;
    }

    .column_reverse {
        flex-direction: column-reverse;
    }

    .flex_img {
        width: 100%;
        box-shadow: unset;
        border: 2.5px solid var(--white);
    }

    .info_div {
        width: 300px;
        margin-top: 20px;
        text-align: center;
    }

    .info_heading {
        margin-bottom: 25px;
        font-size: 16pt;
    }

    .info_div p {
        font-size: 12pt;
    }

    #select_section h1 {
        width: 90%;
        margin: auto;
        font-size: 24pt;
    }

    .start_select {
        margin: 25px auto;
        padding: 10px 40px;
        font-size: 16pt;
    }

    .start_select:hover {
        box-shadow: 0px 0px 50px var(--white);
    }

    .question {
        width: 90%;
        margin: 60px auto auto auto;
        font-size: 18pt;
    }

    select {
        width: 175px;
        margin: 25px auto 40px auto;
        font-size: 14pt;
    }

    .btn_confirm {
        width: 150px;
        margin: 25px auto auto auto;
        padding: 12.5px 0px;
        font-size: 12pt;
    }

    .div_to_top {
        right: 15px;
        bottom: 15px;
        width: 40px;
        height: 40px;
        box-shadow: 0px 0px 20px var(--black);
    }

    #btn_to_top {
        font-size: 18pt;
    }

    footer {
        justify-content: center;
        height: auto;
        padding: 50px 0px;
    }

    #footer_links_div a {
        margin: auto 15px;
        font-size: 16pt;
    }

    footer img {
        width: 135px;
        margin: 50px auto;
    }

    footer p {
        font-size: 12pt;
    }
}
