/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

/* VARIABLES */
:root {
    --white: #fff;
    --black: #000;
    --transparent-white: rgba(255, 255, 255, 0.8);
    --more-trans-red: rgba(255, 255, 255, 0.6);
    --red: #ba4242;
    --transparent-red: rgba(186, 66, 66, 0.8);
    --less-transparent-red: rgba(186, 66, 66, 0.9);
}

/* GENERAL SELECTORS */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Urbanist";
    color: var(--white);
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}

body::-webkit-scrollbar {
    display: none;
}

/* PAGE NAV CONTAINER */
.div-page-nav-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.2rem 6.4rem;
    background-color: var(--transparent-white);
    z-index: 2;
}

.div-page-nav-container img {
    height: 8rem;
}

.fixed-nav-container {
    position: fixed;
    z-index: 4;
}

/* NAVIGATION LINKS LIST */
.page-nav-links-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    list-style: none;
}

.page-nav-links-list-item a:link,
.page-nav-links-list-item a:visited {
    display: inline-block;
    font-size: 2rem;
    color: var(--black);
    transition: all 0.5s;
}

.page-nav-links-list-item:last-child a:link,
.page-nav-links-list-item:last-child a:visited {
    padding: 0.8rem 3.2rem;
    color: var(--white);
    background-color: var(--less-transparent-red);
    box-shadow: inset 0 0 0 0.2rem var(--white);
    border-radius: 0.4rem;
}

.page-nav-links-list-item a:hover,
.page-nav-links-list-item a:active {
    transform: translateY(0.2rem);
    opacity: 0.4;
}

/* VIDEO STYLE */
.div-hero-video-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.div-hero-video-container video {
    position: relative;
    width: inherit;
    height: inherit;
    z-index: 0;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    backdrop-filter: blur(0.2rem);
    z-index: 1;
}

/* SECTIONS */
.section {
    position: relative;
    transition: all 2s;
}

.fade-in {
    transform: translateY(200px);
    opacity: 0;
}

/* BACKGROUND IMAGE SECTION */
.section-background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0.75;
    z-index: 0;
}

.text-image-description {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2rem 6.4rem;
    font-size: 2.4rem;
    background-color: var(--black);
    box-shadow: 0 0.4rem 1.2rem var(--black);
    z-index: 3;
}

.span-image-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    background-color: var(--black);
    box-shadow: 0 -0.4rem 1.2rem var(--black);
    z-index: 3;
}

.div-background-image {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

.background-image-1 {
    background-image: url("../media/images/mj-last-shot.png");
}

.background-image-2 {
    background-image: url("../media/images/mj-backward.png");
}

/* INFO SECTION */
.section-info {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 9.6rem 0;
}

.section-header h1 {
    font-size: 4rem;
    text-align: center;
}

.div-gallery-container {
    display: inherit;
    flex-direction: inherit;
    gap: 8rem;
}

.div-flex-container {
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
}

.div-flex-container img {
    width: 48%;
    transition: all 0.5s;
}

.image-blur {
    filter: blur(0.8rem);
}

.left-image-shadow {
    box-shadow: -1.6rem -1.6rem 0 var(--white);
}

.right-image-shadow {
    box-shadow: 1.6rem -1.6rem 0 var(--white);
}

/* FLEX CONTAINER INFO DIV */
.div-flex-container-info {
    display: inherit;
    flex-direction: column;
    gap: 1.6rem;
    width: 48rem;
}

.div-flex-container-info span {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    font-style: italic;
}

.div-flex-container-info p {
    font-size: 2rem;
}

/* SELECT DIV STYLE */
#select_section h1 {
    font-size: 48pt;
}

.start_select {
    display: block;
    margin: 50px auto;
    padding: 15px 75px;
    font-size: 24pt;
    color: var(--white);
    background-color: var(--red);
    border: 3px solid var(--white);
    border-radius: 50px;
    opacity: 0.5;
    transition: all 0.5s;
}

.start_select:hover {
    opacity: 1;
    transform: translateY(5px);
    box-shadow: 0px 0px 125px var(--white);
    cursor: pointer;
}

.question {
    margin-top: 75px;
    font-size: 32pt;
    text-align: center;
}

select {
    display: block;
    appearance: unset;
    outline: none;
    width: 250px;
    margin: 50px auto 40px auto;
    padding: 15px;
    font-size: 24pt;
    text-align: center;
    background-color: var(--black);
    border: 3px solid var(--white);
    transition: all 0.5s;
    cursor: pointer;
}

select:hover {
    color: var(--black);
    background-color: var(--white);
}

option {
    color: var(--black);
    background-color: var(--white);
}

option:checked {
    color: var(--white);
    background-color: var(--black);
}

.hide_element {
    display: none;
}

.btn_confirm {
    display: block;
    width: 200px;
    margin: 40px auto auto auto;
    padding: 12.5px 0px;
    font-size: 18pt;
    color: var(--transparent-white);
    background-color: var(--transparent-red);
    border-style: none;
    border-radius: 50px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn_confirm:hover {
    color: var(--white);
    background-color: var(--red);
    box-shadow: 0px 0px 35px var(--white);
    transform: translateY(5px);
}

/* TO_TOP_BTN STYLE */
.div_to_top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--red);
    box-shadow: 0px 0px 35px var(--black);
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 3;
}

.div_to_top:hover {
    opacity: 0.5;
    box-shadow: unset;
}

#btn_to_top {
    width: inherit;
    font-size: 24pt;
}

.to_top_appear {
    visibility: hidden;
    opacity: 0;
}

/* FOOTER STYLE */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    text-align: center;
    background-color: var(--white);
}

#footer_links_div a {
    margin: auto 50px;
    font-size: 32pt;
    color: var(--black);
    transition: all 1s;
}

#footer_links_div a:hover {
    color: var(--red);
}

footer img {
    display: block;
    width: 200px;
    margin: 0px auto;
}

footer p {
    font-size: 20pt;
    color: var(--black);
}
