/* PAGE BODY */
.page-body {
    background-image: url(../../media/images/mj-clap.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--transparent-black);
    z-index: 1;
}

/* POPUP CONFIRMATION DIV */
.popup-confirmation {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 4.8rem 6.4rem;
    text-align: center;
    background-color: var(--black);
    box-shadow: 0 0.4rem 0.8rem var(--black);
    border-radius: 0.8rem;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 4;
}

.header-popup-confirmation {
    display: inherit;
    flex-direction: inherit;
    gap: 0.4rem;
}

.header-popup-confirmation h2 {
    font-size: 2.4rem;
}

.header-popup-confirmation p {
    font-size: 1.6rem;
    line-height: 1.5;
}

.header-popup-confirmation span {
    color: var(--red);
}

.div-popup-confirmation-ending {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    gap: 0.8rem;
}

.div-popup-confirmation-ending p {
    font-size: 2rem;
}

.btn-home:link,
.btn-home:visited {
    width: 12rem;
    padding: 0.8rem 0;
    font-size: 1.6rem;
    background-color: var(--red);
    border-radius: 0.4rem;
    transition: box-shadow 0.5s;
}

.btn-home:hover,
.btn-home:active {
    box-shadow: inset 0 0 0 0.2rem var(--white);
}

/* MAIN CONTAINER */
.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80rem;
    padding: 6.4rem;
    background-color: var(--less-transparent-red);
    box-shadow: inset 0 0 0 0.4rem var(--white);
    transform: translate(-50%, -50%);
    z-index: 3;
}

/* PAGE NAVIGATION */
.page-nav {
    position: absolute;
    top: 0.4rem;
    left: -3.6rem;
}

.page-nav-links-list {
    display: flex;
    list-style: none;
}

.page-nav-links-list-item {
    width: 3.6rem;
    color: var(--black);
    background-color: var(--white);
    border-left: 0.2rem solid var(--white);
    border-radius: 0.4rem 0 0 0.4rem;
    transition: all 0.5s;
}

.page-nav-links-list-item a:link,
.page-nav-links-list-item a:visited {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 1.6rem;
    color: inherit;
}

.page-nav-links-list-item span {
    font-size: 1.6rem;
    color: inherit;
}

.page-nav-links-list-item:hover {
    color: var(--white);
    background-color: var(--black);
}

/* CART SECTION */
.section-cart {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.section-cart h2 {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    font-size: 3.3rem;
}

.div-cart-content-container {
    position: relative;
    top: 0;
    display: inherit;
    flex-direction: inherit;
    gap: 1.6rem;
    animation-name: content-appear;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes content-appear {
    from {
        top: -64rem;
    }
    to {
        top: 0;
    }
}

.div-cart-content-container h3 {
    font-size: 2.4rem;
}

.cart-content-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 32rem;
}

.cart-content-list-item {
    display: inherit;
    align-items: flex-end;
    justify-content: space-between;
}

.cart-content-list-item p {
    font-size: 1.8rem;
}

.cart-content-list-item span {
    font-size: 2rem;
}

.shoe-image {
    position: absolute;
    bottom: -3.2rem;
    right: -3.2rem;
    width: 64%;
    animation-name: shoe-appear;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    transform: rotate(-8deg);
    z-index: 4;
}

@keyframes shoe-appear {
    from {
        bottom: -64rem;
        transform: rotate(-360deg);
    }
    to {
        bottom: -3.2rem;
        transform: rotate(-8deg);
    }
}

.btn-confirm-order {
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    width: 18rem;
    padding: 1.2rem 0;
    font-size: 1.6rem;
    color: var(--white);
    background-color: var(--red);
    box-shadow: inset 0 0 0 0.2rem var(--white);
    border-radius: 0.4rem;
    animation-name: btn-confirm-appear;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    transition: all 0.75s;
    cursor: pointer;
}

@keyframes btn-confirm-appear {
    from {
        left: -80rem;
        transform: rotate(-360deg);
    }
    to {
        left: 0;
    }
}

.btn-confirm-order:hover {
    color: var(--red);
    background-color: var(--white);
}

.btn-confirm-order ion-icon,
.btn-confirm-order span {
    color: inherit;
}
